@import "../../style/colorScheme";

.workOrderPoster{
  background-color: $grey-light-background;
  width: 600px;
  height: fit-content;
  border: solid 2px #343434;
}
.workOrderPoster .doubleColumn{
  display: grid;
  grid-template-columns: 35% 65%;
}
.workOrderPoster .header{
  font-size: 21px;
  font-weight: 100;
}
.workOrderPoster .options >div{
  width: 60%;
  margin: auto;
}
.workOrderPoster .close{
  
}
.workOrderPoster .close{
  margin: auto;
  height: 100%;
}
.workOrderPoster .close button{
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 200;
  font-size: 14px;
}
.workOrderPoster .close i{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 7px;
  font-size: 20px;
  margin-right: auto;
  font-weight: 700;
}
.workOrderPoster .close:hover{
  background-color: $blue-active;
  color: white;
  transition: .3s background-color, .3s color;
}
.workOrderPoster .close{
  background-color: $blue-light-background;
  transition: .3s background-color;
  color: #f3f3f3;
  width: 21%;
  cursor: pointer;
}
.workOrderPoster>div:first-child .close *{
  color :inherit;
}
.workOrderPoster>div:first-child{
  height: 60px;
  margin-bottom:30px;
  background-color: $blue-background;

}

.workOrderPoster>div:first-child h1{
  padding-left: 20px;
  width: 80%;
  margin: auto;
  color :white;
}

.workOrderPoster>div:last-child{
  margin-top:30px;
  background-color: $grey-poster-background;
}
.workOrderPoster .column2{
  width: 100%;
}

.workOrderPoster .buttons{
  margin-top: 30px;
  margin: auto;
  width: fit-content;
}
.workOrderPoster .buttons button:first-child{
  margin-right: 20px;
}
.workOrderPoster input.form-control {
  width: 300px;
  height: 21px;
  padding: 4px;
  border-radius: 2px;
  border-color: $border-grey;
  font-size: 12px;
  background-color: white;
  width: 100%;
}
.workOrderPoster input{
  background-color: white;
  border: 1px solid $border-grey;
  border-radius: 3px;
}
.workOrderPoster .doubleColumn *{
  margin-top: auto;
  margin-bottom: auto;

}
.workOrderPoster .doubleColumn h1{
  font-size: 12px;
  color:$text-grey;
  margin-right: 20px !important;
}
.workOrderPoster .create:hover{
  background-color: #65ca65;
  color: #ffffff;

}
.workOrderPoster .create{
  background-color: #5cb85c;
  border: 1px solid #4cae4c;
  border-radius: 3px;
  color: #ffffff;
  transition: .3s background-color, .3s color;
  width: 80px;
  text-align: center;
  height: 32px;
  font-size: 14px;
  font-weight: 400;
}
.workOrderPoster .cancel:hover{
  color: #763538;
}
.workOrderPoster .cancel{
  background-image: linear-gradient(to bottom,#ffffff,#e6e6e6);
  border: 1px solid #dddddd;
  border-radius: 3px;
  color: #565656;
  transition: .3s background-color, .3s color;

  width: 100px;
  text-align: center;
  height: 32px;
  line-height: 18px;
  font-size: 14px;
  font-weight: 400;
}
.workOrderPoster .ui.fluid.selection.dropdown{
  margin-bottom: 0;
}
.workOrderPoster .doubleColumn{
  margin-bottom: 15px;
  position: relative;
}
.input-error .calIcon,
.input-error input,
.input-error .ui.fluid.selection.dropdown.column2{
  border: 2px solid $error-red !important;
}
.input-error .calIcon{
  border-left: 0px;
}
.input-error h1.errorMsg{
  color: $error-red;
  font-size: 8px;
  position: absolute;
  bottom: -13px;
  left: 36%;
}

.workOrderPoster .ui.dropdown .menu>.header{
  padding: 0px !important;
  margin: 0px !important;
  height: fit-content !important;
  padding-left: 15px !important;
}