@import "../../../style/colorScheme";

.workOrder .markerIcon{
  width: 60px !important;
}
.workOrder .flex-column>*:first-child{
  margin-top: 0px;
}
.workOrder .flex-column>*{
  margin-top: 10px;
}
.workOrder .subcontractor>div{
  margin-top: 10px;
  margin-left: 10px;
}
.workOrder .flex-column .grid-row{
  grid-template-columns: 100px 1fr;
}

.workOrder .subcontractor .grid-row{
  grid-template-columns: 100px 1fr;
}
