@import "../../../style/colorScheme";
.collapsible-label{
  height: 30px;
}
.collapsible-label >h1{
  color: $blue-text-light;
}
.collapsible-label i{
  padding-right: 10px;
  cursor: pointer;
  color: $blue-text-light;
}
.collapsible-content{
  
  position: relative;
  left: 20px;
}
.collapsible-label *{
  cursor: pointer;
}