$primary-color: #333;
$text-lightgrey:  rgb(86, 85, 85);
$border-grey2:#b6b6b6;
$black: #060606;
$blue: #248dca;
$blue-hover: #1d70a0;
$blue-active: rgba(70, 255, 253, 0.22);
$blue-activeLight: rgba(215, 255, 255, 0.7);
$blue-hamburger:#0575b4;
$blue-light:#CDE6FF;
$grey:#999;
$grey-light:rgba(0,0,0,.1);
$green: green;
$red: red;
$orange:orange;
$primary-blue: #0066B2;
$secondary-blue: #0072C1;
$tirtiary-blue:#71A8CB;
$primary-green:#009073;

///////////////
$text-grey:  #565656;
$text-grey-light: #AAAAAA;
$text-grey-dark:#424242;
$text-grey2: #757575;
$border-grey: #ddd;
$blue-text:#424242;
$blue-text-light: #428dc9;
$grey-background: #f9f9f9;
$grey-dark-background: #E6E6E6;
$grey-light-background:#FCFCFC;
$grey-poster-background:#F3F3F3;
$white: #fff;
$error-red:#FFBFBF;
$error-red-border:#C70000;

$blue-dark:#004B8D;

$active-pill: #eef5fb;
$active-pill-borderColor:#aabdd0;
$active-pill-empty: #eeeeee;
$active-pill-empty-borderColor:#ededed;

$blue-light-background:#418BCA;
$blue-background:#4779A6;
