body{
    color: #2e2f2c
}


html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small,select,h3,h4,h5 {
    font-weight: 400;
    /* -webkit-font-smoothing: antialiased; */
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    color: rgb(50, 50, 50);
    text-align: inherit;
    text-decoration: inherit;
    vertical-align: inherit;
    box-sizing: inherit;
    background: transparent;

}
body, header, nav, h1,h2,h3,h4,h5,a,ul,li,button,span,label,input,form,select,html,main,section{
    font-family: Open Sans,sans-serif ;
}
ul {
    list-style: none;
}
img {
    display: block;
    width: 100%;
    height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
    /*
    Get rid of native styling. Read more here:
    http://css-tricks.com/almanac/properties/a/appearance/
    */
    -webkit-appearance: none;
    -moz-appearance: none;
}

button,
input[type="submit"] {
    cursor: pointer;
}
input{
    border: 1px solid grey;
}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px rgb(255, 255, 255);
}
