@import "../../../style/colorScheme";
@import '../../../style/general';

$primary-grey : #282827;
$primary-beige:#FDF5DE;
.sliderContainer{
  position: absolute;
  bottom: 20px;
  left: -187px;
}
.slider{
  background-color: $blue-dark;
  width: 300px;
  border-radius: 3px;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: content-box;
  border: 2px solid white;
}
.slider span{
  display: flex;
  justify-content: space-around;
}
.slider span button{
  height: 50%;
  margin: auto;
  margin-left: 10px;
  padding: 5px;
  white-space: nowrap;
}
.slider span{
  height: 40px;
}
.slider span button:first-child{
  margin-left: 0px;
}
.slider button{
  font-size: 12px;
  color:white;
}
.activeSlider{
  background-color: white;
  border-radius: 10px;
  padding: 2px;
}
button.activeSlider{
  color:$blue-dark;
}
.playButton{

  width: 20px;
  height: 20px;
  background-color: #dbdbdb;
  border-radius: 20px;
}
.playButton.activeOverlay{
  background-color: green;
  transition: .2s background-color ease-in;

}
.playButton.activeOverlay:hover{
  background-color: green;
}