@import "../../style/colorScheme";
@import "../../style/general";
.locationList-item{
  color: $text-grey;
  overflow: auto;
  max-height: $infoWindowHeight;
  overflow-x: hidden;
}
.locationList-item.hasworkOrders{
  height: $infoWindowHeight;  
}
.locationList-item.emptyWorkOrders {
  height: $infoWindowHeightSmall;
}

.locationList-item .scheduleButton{
  margin-left: 160px;
  width: 180px;
}
.scrollBarInfoWindowFix{
  width: 9.5px;
}

.scrollBarInfoWindowFix-smaller{
  width: 0px;
}
.locationList-item .grid-row{
  grid-template-columns: min-content 1fr;
  column-gap: 10px;
}
.locationList-item > h1{
  font-size: 21px;
  color: $text-grey;
  min-height: fit-content;
}
.locationList-item > span{
  margin-left: 10px;
  margin-top: 20px;
}
.locationList-item  .grid-row >h1{
  font-size: 14px;
  word-break: break-all;
  color: $text-grey-dark;
}
.locationList-item  .grid-row >h2{
  font-size: 12px;
  color :$text-grey2;
}
.locationList-item > span > .grid-row >h1,
.locationList-item > span > .grid-row >h2 {
  line-height: 1.2;
}
.locationList-item > .locationData > *:not(:last-child){
  margin-bottom: 10px;
}

.weatherCondition>label{
  font-size: 21px;
}
.weatherCondition>div{
  margin-top: 10px;
}