@import "../../style/colorScheme";
@import "../../style/general";

.infoWindowContainer{
  max-height: $infoWindowHeight;
  overflow: hidden;
  //padding-left: 15px;
  background-color:  $grey-background !important;

  width: $infoWindoWidth;
}

.gm-style-iw> div{
  display: block !important;
  background-color:  $grey-background !important;
}

.gm-style .gm-style-iw {
  overflow: visible;

  background-color: $grey-background !important;
  width: $infoWindoWidth !important;
  max-height:$infoWindowHeight !important;

  //display: block !important;
}

#map>div>div>div>div>div>div>div>div>div:not(:first-child){
  background-color:  $grey-background !important;
}
